<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href='/'>인스타그램</a>
  <a href='/users/sign_in'>로그인</a>
  <a href='/users/sign_up'>회원가입</a>
  <P><%= current_user.email %></P>

<%= yield %>

</body>
</html>
